<?xml version="1.0" encoding="utf-8"?>

      <!--User - Default-->
      <!--СhangedAt - 18.06.23-->

<!--
{CableType}           - Тип кабеля
{WireSection}         - Сечение жил(ы)
{WireCount}           - Количество жил
{NormativeDocument}   - Нормативный документ (не используется)
{WirePairs}           - Кол-во витых пар (если есть)
-->

<ArrayOfCableTemplate xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <CableTemplate> <SubCableType>ШВВП</SubCableType>  <FullCableType>ШВВПнг(А)-LS</FullCableType>   <Template>Провод, {CableType} {WireCount}х{WireSection}, ТУ 3520-005-50951092-2005, РЭК</Template>                                                     </CableTemplate>
    <CableTemplate> <SubCableType>ПУГВ</SubCableType>  <FullCableType>ПуГВнг(A)-LS</FullCableType>   <Template>Провод, {CableType} {WireCount}х{WireSection}, ТУ 3520-005-50951092-2005, РЭК</Template>                                                     </CableTemplate>
    <CableTemplate> <SubCableType>КГВВ</SubCableType>  <FullCableType>КГВВнг(А)-LS</FullCableType>   <Template>Кабель, {CableType} {WireCount}х{WireSection}, ТУ 3520-005-50951092-2005, РЭК</Template>                                                     </CableTemplate>
    <CableTemplate> <SubCableType>КИПЭВ</SubCableType> <FullCableType>КИПЭВнг(А)-LS</FullCableType>  <Template>Кабель, {CableType} {WirePairs}х{WireCount}х{WireSection}, ТУ 3520-005-50951092-2005, РЭК</Template>                                         </CableTemplate>
    <CableTemplate> <SubCableType>TEST</SubCableType>  <FullCableType>TEST</FullCableType>           <Template>test, {CableType} {WirePairs}х{WireCount}х{WireSection} {Length}, test</Template>  <HasFixedLength>true</HasFixedLength> <Length>10</Length> </CableTemplate>

</ArrayOfCableTemplate>