<?xml version="1.0" encoding="utf-8"?>

      <!--User - Default-->
      <!--СhangedAt - 18.06.23-->

<!--
{CableType}           - Тип кабеля
{WireSection}         - Сечение жил(ы)
{WireCount}           - Количество жил
{NormativeDocument}   - Нормативный документ (не используется)
{WirePairs}           - Кол-во витых пар (если есть)
-->
<CablesParserConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Templates>
    <CableTemplate> <SubCableType>ШВВП</SubCableType>  <FullCableType>ШВВПнг(А)-LS</FullCableType>   <Template>Провод {CableType} {WireCount}х{WireSection}, ТУ 3520-005-50951092-2005, РЭК</Template>                                       </CableTemplate>
    <CableTemplate> <SubCableType>ПуГВ</SubCableType>  <FullCableType>ПуГВнг(А)-LS</FullCableType>   <Template>Провод {CableType} {WireCount}х{WireSection}, {Color}, ТУ 3520-005-50951092-2005, РЭК</Template> <HasColor>true</HasColor>    </CableTemplate>
    <CableTemplate> <SubCableType>КГВВ</SubCableType>  <FullCableType>КГВВнг(А)-LS</FullCableType>   <Template>Кабель {CableType} {WireCount}х{WireSection}, ТУ 3520-005-50951092-2005, РЭК</Template>                                       </CableTemplate>
    <CableTemplate> <SubCableType>КИПЭВ</SubCableType> <FullCableType>КИПЭВнг(А)-LS</FullCableType>  <Template>Кабель {CableType} {WirePairs}х{WireCount}х{WireSection}, ТУ 3520-005-50951092-2005, РЭК</Template>                           </CableTemplate>
    <CableTemplate> <SubCableType>Кабель ParLan F/UTP Cat5e PVCLS</SubCableType> <FullCableType>F/UTP Cat5e PVCLSнг(А)-LSLT</FullCableType>  <Template>Кабель {CableType} {WirePairs}х{WireCount}х{WireSection}, ParLan</Template>                           </CableTemplate>
      
    
    <CableTemplate> <ParseOutType>PurchasedCable</ParseOutType> <SubCableType>Кабель Hyperline, PWC-IEC13-SHM-3.0-BK</SubCableType>         <FullCableType>Кабель, арт. PWC-IEC13-SHM-3.0-BK, Hyperline</FullCableType> </CableTemplate>
    <CableTemplate> <ParseOutType>PurchasedCable</ParseOutType> <SubCableType>Кабель Hyperline, PWC-IEC13-SHM-5.0-BK</SubCableType>         <FullCableType>Кабель, арт. PWC-IEC13-SHM-5.0-BK, Hyperline</FullCableType> </CableTemplate>
    <CableTemplate> <ParseOutType>PurchasedCable</ParseOutType> <SubCableType>Кабель Hyperline, PWC-IEC19-SHM-5.0-BK</SubCableType>         <FullCableType>Кабель, арт. PWC-IEC19-SHM-5.0-BK, Hyperline</FullCableType> </CableTemplate>
    <CableTemplate> <ParseOutType>PurchasedCable</ParseOutType> <SubCableType>Кабель Hyperline, PWC-IEC13-IEC14-5.0-BK</SubCableType>       <FullCableType>Кабель, арт. PWC-IEC13-IEC14-5.0-BK, Hyperline</FullCableType> </CableTemplate>
    <CableTemplate> <ParseOutType>PurchasedCable</ParseOutType> <SubCableType>Кабель Hyperline, PWC-IEC13A-SHM-3.0-BK</SubCableType>        <FullCableType>Кабель, арт. PWC-IEC13A-SHM-3.0-BK, Hyperline</FullCableType> </CableTemplate>
    <CableTemplate> <ParseOutType>PurchasedCable</ParseOutType> <SubCableType>Кабель Hyperline, PWC-IEC13A-IEC14-3.0-BK</SubCableType>      <FullCableType>Кабель, арт. PWC-IEC13A-IEC14-3.0-BK, Hyperline</FullCableType> </CableTemplate>
    <CableTemplate> <ParseOutType>PurchasedCable</ParseOutType> <SubCableType>Кабель Hyperline, арт. PWC-IEC13A-IEC14-3.0-BK</SubCableType> <FullCableType>Кабель, арт. PWC-IEC13A-IEC14-3.0-BK, Hyperline</FullCableType> </CableTemplate>

<!--Example: (Input "ExampleSymbols" and "Example 1x2x3")-->
    <CableTemplate> 
      <SubCableType>Example</SubCableType>
      <FullCableType>ExampleFullCableType</FullCableType>
      <Template>Example CableType: {CableType}, WirePairs: {WirePairs}, WireCount: {WireCount}, WireSection: {WireSection}, Length: {Length}, Color: {Color}</Template>
      <HasFixedLength>true</HasFixedLength>
      <Length>10</Length>
      <HasColor>true</HasColor>
      <ColorMapper>
        <ColorMaps>
          <ColorMap> <SymbolsForColor>ExampleSymbols</SymbolsForColor> <Color>ExampleColor</Color> </ColorMap>
        </ColorMaps>
        <DefaultColor>ExampleDefaultColor</DefaultColor>
      </ColorMapper>
    </CableTemplate>
<!--:Example-->
    
  </Templates>
  <DefaultColorMapper>
    <ColorMaps>
      <ColorMap> <SymbolsForColor>N</SymbolsForColor> <Color>синий</Color> </ColorMap>
      <ColorMap> <SymbolsForColor>PE</SymbolsForColor> <Color>желто-зеленый</Color> </ColorMap>
    </ColorMaps>
    <DefaultColor>белый</DefaultColor>
  </DefaultColorMapper>
</CablesParserConfig>