<?xml version="1.0" encoding="utf-8"?>

      <!--User - Default-->
      <!--СhangedAt - 15.06.23-->

<!--
{CableType}           - Тип кабеля
{WireSection}         - Сечение жил(ы)
{WireCount}           - Количество жил
{NormativeDocument}   - Нормативный документ (не используеться)
-->

<ArrayOfCableTemplate xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <CableTemplate> <SubCableType>ШВВП</SubCableType>         <FullCableType>ШВВП</FullCableType>           <Template>Провод, {CableType} {WireCount}х{WireSection}, РЭК</Template>         </CableTemplate>
    <CableTemplate> <SubCableType>ПУГВ</SubCableType>         <FullCableType>ПуГВнг(A)-LS</FullCableType>   <Template>Провод, {CableType} {WireCount}х{WireSection}, РЭК</Template>         </CableTemplate>
    <CableTemplate> <SubCableType>КГВВ</SubCableType>         <FullCableType>КГВВ</FullCableType>           <Template>Кабель силовой, {CableType} {WireCount}х{WireSection}, РЭК</Template> </CableTemplate>
</ArrayOfCableTemplate>